<!-- personal/templates/personal/lista_personal.html -->
{% extends 'base.html' %}

{% load static %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'style_alumnos.css' %}">
{% endblock %}

{% block content %}
  <h2>Lista de Personal</h2>
  <button class="btn btn-listas" onclick="location.href='{% url 'dashboard' %}'">Volver</button>


  <button class="btn btn-listas" onclick="location.href='{% url 'crear_personal' %}'">Agregar</button>


  <button id="descargar-reporte-btn" class="btn btn-listas btn-descargar" onclick="location.href='{% url 'descargar_reporte_personal' %}?nucleo={{ request.GET.nucleo }}'">Descargar</button>


<form method="get" action="{% url 'lista_personal' %}">
  <div class="form-group">
    <input type="text" name="q" class="form-control" placeholder="Buscar personal..." value="{{ request.GET.q }}">
    <select name="nucleo" class="form-control">
      <option value="">Todos los núcleos</option>
      {% for nucleo in nucleos %}
        <option value="{{ nucleo.nombre }}" {% if request.GET.nucleo == nucleo.nombre %}selected{% endif %}>{{ nucleo.nombre }}</option>
      {% endfor %}
    </select>
  </div>
</form>


  <table class="table table-dark dashboard-table">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>edad</th>
        <th>fecha_nacimiento</th>
        <th>numero_documento</th>
        <th>descripcion</th>
        <th>cargo</th>
        <th>funcion</th>
        <th>nivel_educativo</th>
        <th>fecha_ingreso</th>
        <th>nucleo</th>
        <th>Dirección de Habitación</th>
        <th>Talla Camisa</th>
        <th>Talla Pantalón</th>
        <th>Talla Zapato</th>
        <th>Cargo</th>
        <th>Colateral</th>
        <th>Estatus</th>
        <th>Acciones</th>

      </tr>
    </thead>
    <tbody>
      {% for persona in personal %}
        <tr>
          <td>{{ persona.nombre }}</td>
          <td>{{ persona.apellido }}</td>
          <td>{{ persona.edad }}</td>
          <td>{{ persona.fecha_nacimiento }}</td>
          <td>{{ persona.numero_documento }}</td>
          <td>{{ persona.descripcion }}</td>
          <td>{{ persona.cargo }}</td>
          <td>{{ persona.funcion }}</td>
          <td>{{ persona.nivel_educativo }}</td>
          <td>{{ persona.fecha_ingreso }}</td>
          <td>{{ persona.nucleo }}</td>
          <td>{{ persona.direccion_habitacion }}</td>
          <td>{{ persona.talla_camisa }}</td>
          <td>{{ persona.talla_pantalon }}</td>
          <td>{{ persona.talla_zapato }}</td>
          <td>{{ persona.cargo }}</td>
          <td>{{ persona.colateral }}</td>
          <td>{{ persona.get_estatus_display }}</td>
          <td>

              <button class="btn btn-listas" onclick="location.href='{% url 'editar_personal' persona.id_personal %}'">Editar</button>
              <button class="btn btn-listas btn-eliminar" onclick="location.href='{% url 'eliminar_personal' persona.id_personal %}'">Eliminar</button>

          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>



<table class="table">
  
</table>

{% block javascript %}
<script type="text/javascript">
  document.addEventListener('DOMContentLoaded', function () {
    const nucleoSelect = document.querySelector('select[name="nucleo"]');
    const downloadButton = document.querySelector('#descargar-reporte-btn');

    function downloadReport() {
      const nucleoValue = nucleoSelect.value;
      const downloadUrl = `{% url 'descargar_reporte_personal' %}?nucleo=${nucleoValue}`;
      window.location.href = downloadUrl;
    }

    function fetchFilteredData() {
      const searchInput = document.querySelector('input[name="q"]');
      const queryString = `q=${searchInput.value}&nucleo=${nucleoSelect.value}`;

      fetch(`{% url 'lista_personal' %}?${queryString}`)
        .then(response => response.text())
        .then(html => {
          const newBody = new DOMParser().parseFromString(html, 'text/html').body;
          document.querySelector('table').innerHTML = newBody.querySelector('table').innerHTML;
        });
    }

    nucleoSelect.addEventListener('change', function () {
      fetchFilteredData();
    });

    document.querySelector('input[name="q"]').addEventListener('keyup', function () {
      fetchFilteredData();
    });

    downloadButton.addEventListener('click', function (event) {
      event.preventDefault();
      downloadReport();
    });
  });
</script>
{% endblock %}

  
{% endblock %}




