<!-- usuarios/templates/usuarios/login.html -->
{% extends 'base.html' %}
{% load static %}  <!-- Asegúrate de que esta línea esté aquí -->

{% block extra_head %}
<link rel="stylesheet" href="{% static 'styles.css' %}">
{% endblock %}
{% block content %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<div class="login-container">
  <h1 class="main-title">El Sistema Guárico</h1>
  <div class="login-box">

    <h1>Iniciar Sesión</h1>
    {% if messages %}
      {% for message in messages %}
        <div class="alert {{ message.tags }}">
          {{ message }}
        </div>
      {% endfor %}
    {% endif %}
    <form method="post" action="{% url 'login' %}">
      {% csrf_token %}
      <div class="input-group">
        <i class="fas fa-user input-icon"></i>
        <input type="text" name="username" id="id_username" placeholder="Usuario" required>
      </div>
      <div class="input-group">
        <i class="fas fa-lock input-icon"></i>
        <input type="password" name="password" id="id_password" placeholder="Contraseña" required>
      </div>
      <button type="submit" class="login-btn">Ingresar</button>
    </form>
  </div>
</div>
{% endblock %}
