<!-- alumnos/templates/alumnos/lista_alumnos.html -->
{% extends 'base.html' %}
{% load static %}  <!-- Asegúrate de que esta línea esté aquí -->

{% block extra_head %}
<link rel="stylesheet" href="{% static 'style_alumnos.css' %}">
{% endblock %}
{% block content %}
  <h2>Lista de Alumnos</h2>
  <button class="btn btn-listas" onclick="location.href='{% url 'dashboard' %}'">Volver</button>

  

  <button class="btn btn-listas" onclick="location.href='{% url 'nuevo_alumno' %}'">Agregar</button>
  <button id="descargar-reporte-btn" class="btn btn-listas btn-descargar" onclick="location.href='{% url 'descargar_reporte_alumnos' %}?nucleo={{ request.GET.nucleo }}'">Descargar</button>


  <!-- Añade un campo de selección de núcleo en tu formulario de búsqueda  -->
<form method="get" action="{% url 'lista_alumnos' %}">
  <div class="form-group">
    <input type="text" name="q" class="form-control" placeholder="Buscar Alumnos..." value="{{ request.GET.q }}">
    <select name="nucleo" class="form-control">
      <option value="">Todos los núcleos</option>
      {% for nucleo in nucleos %}
        <option value="{{ nucleo.nombre }}" {% if request.GET.nucleo == nucleo.nombre %}selected{% endif %}>{{ nucleo.nombre }}</option>
      {% endfor %}
    </select>
  </div>
</form>
  
<table class="table table-dark dashboard-table">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Edad</th>
      <th>Fecha de Nacimiento</th>
      <th>Número de Documento</th>
      <th>Descripción</th>
      <th>Núcleo</th>
      <th>Estatus</th>
      <th>Tipo de Sangre</th>
      <th>Sexo</th>
      <th>Nivel Educativo</th>
      <th>Nombre de Representante</th>
      <th>Número de Teléfono</th>
      <th>Dirección de Habitación</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    {% for alumno in alumnos %}
      <tr>
        <td>{{ alumno.nombre }}</td>
        <td>{{ alumno.apellido }}</td>
        <td>{{ alumno.edad }}</td>
        <td>{{ alumno.fecha_nacimiento }}</td>
        <td>{{ alumno.numero_documento }}</td>
        <td>{{ alumno.descripcion }}</td>
        <td>{{ alumno.nucleo }}</td>
        <td>{{ alumno.estatus }}</td>
        <td>{{ alumno.tipo_sangre }}</td>
        <td>{{ alumno.sexo }}</td>
        <td>{{ alumno.nivel_educativo }}</td>
        <td>{{ alumno.nombre_de_representante }}</td>
        <td>{{ alumno.numero_de_telefono }}</td>
        <td>{{ alumno.direccion_de_habitacion }}</td>
        
        <td>
          <button class="btn btn-listas" onclick="location.href='{% url 'editar_alumno' alumno.id_alumno %}'">Editar</button>
          <button class="btn btn-listas btn-eliminar" onclick="location.href='{% url 'eliminar_alumno' alumno.id_alumno %}'">Eliminar</button>
        </td>
        
      </tr>
    {% endfor %}
  </tbody>
</table>


  <!-- personal/templates/personal/fragmento_lista_personal.html -->
<table class="table">
  <!-- ... contenido de tu tabla ... -->
</table>

{% block javascript %}
<script type="text/javascript">
  document.addEventListener('DOMContentLoaded', function () {
    const nucleoSelect = document.querySelector('select[name="nucleo"]');
    const downloadButton = document.querySelector('#descargar-reporte-btn');

    function downloadReport() {
      const nucleoValue = nucleoSelect.value;
      const downloadUrl = `{% url 'descargar_reporte_alumnos' %}?nucleo=${nucleoValue}`;
      window.location.href = downloadUrl;
    }

    function fetchFilteredData() {
      const searchInput = document.querySelector('input[name="q"]');
      const queryString = `q=${searchInput.value}&nucleo=${nucleoSelect.value}`;

      fetch(`{% url 'lista_alumnos' %}?${queryString}`)
        .then(response => response.text())
        .then(html => {
          const newBody = new DOMParser().parseFromString(html, 'text/html').body;
          document.querySelector('table').innerHTML = newBody.querySelector('table').innerHTML;
        });
    }

    nucleoSelect.addEventListener('change', function () {
      fetchFilteredData();
    });

    document.querySelector('input[name="q"]').addEventListener('keyup', function () {
      fetchFilteredData();
    });

    downloadButton.addEventListener('click', function (event) {
      event.preventDefault();
      downloadReport();
    });
  });
</script>
{% endblock %}


{% endblock %}
