{% extends 'base.html' %}

{% load static %}

{% block extra_head %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<link rel="stylesheet" href="{% static 'style_crear.css' %}">
{% endblock %}

{% block content %}

<div class="container mt-5">
  
  <h2>Editar Instrumento</h2>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">Guardar Cambios</button>
  </form>
  <a href="{% url 'lista_instrumentos' %}" class="btn btn-secondary mt-3">Cancelar</a>
</div>
{% endblock %}
