<!-- instrumentos/templates/instrumentos/lista_instrumentos.html -->
{% extends 'base.html' %}
{% load static %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'style_alumnos.css' %}">
{% endblock %}

{% block content %}
  <h2>Bienes Nacionales</h2>
  <button class="btn btn-listas" onclick="location.href='{% url 'dashboard' %}'">Volver</button>

    <button class="btn btn-listas" onclick="location.href='{% url 'crear_instrumento' %}'">Agregar</button>

    <button id="descargar-reporte-btn" class="btn btn-listas btn-descargar" onclick="location.href='{% url 'descargar_reporte_instrumentos' %}?nucleo={{ request.GET.nucleo }}'">Descargar</button>

    <form method="get" action="{% url 'lista_instrumentos' %}">
      <div class="form-group">
        <input type="text" name="q" class="form-control" placeholder="Buscar personal..." value="{{ request.GET.q }}">
        <select name="nucleo" class="form-control">
          <option value="">Todos los núcleos</option>
          {% for nucleo in nucleos %}
            <option value="{{ nucleo.nombre }}" {% if request.GET.nucleo == nucleo.nombre %}selected{% endif %}>{{ nucleo.nombre }}</option>
          {% endfor %}
        </select>
      </div>
    </form>
    <div class="table-container">
      <table class="table table-dark dashboard-table">
        <thead>
            <tr>
                <th>Item</th>
                <th>Marca</th>
                <th>Cantidad</th>
                <th>Modelo</th>
                <th>Medida</th>
                <th>Color</th>
                <th>Serial</th>
                <th>Inventario</th>
                <th>Accesorio</th>
                <th>Condición</th>
                <th>Ubicación</th>
                <th>Procedencia</th>
                <th>Comodato</th>
                <th>Descripción</th>
                <th>Núcleo</th>
                <th>Fecha</th>
                <th>Póliza de Seguro</th>
                <th>Nombre Persona</th>
                <th>Dirección</th>
                <th>Número Expediente</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for instrumento in instrumentos %}
                <tr>
                    <td>{{ instrumento.item }}</td>
                    <td>{{ instrumento.marca }}</td>
                    <td>{{ instrumento.cantidad }}</td>
                    <td>{{ instrumento.modelo }}</td>
                    <td>{{ instrumento.medida }}</td>
                    <td>{{ instrumento.color }}</td>
                    <td>{{ instrumento.serial }}</td>
                    <td>{{ instrumento.inventario }}</td>
                    <td>{{ instrumento.accesorio }}</td>
                    <td>{{ instrumento.condicion }}</td>
                    <td>{{ instrumento.ubicacion }}</td>
                    <td>{{ instrumento.procedencia }}</td>
                    <td>{{ instrumento.get_comodato_vigente_display }}</td>
                    <td>{{ instrumento.descripcion }}</td>
                    <td>{{ instrumento.nucleo.nombre }}</td>
                    <td>{{ instrumento.fecha }}</td>
                    <td>{{ instrumento.get_poliza_seguro_display }}</td>
                    <td>{{ instrumento.nombre_persona }}</td>
                    <td>{{ instrumento.direccion }}</td>
                    <td>{{ instrumento.numero_expediente_procesal }}</td>
                    <td>
                            <button class="btn btn-listas" onclick="location.href='{% url 'editar_instrumento' instrumento.id_instrumento %}'">Editar</button>
                            <button class="btn btn-listas btn-eliminar" onclick="location.href='{% url 'eliminar_instrumento' instrumento.id_instrumento %}'">Eliminar</button>

                    </td>
                </tr>
            {% endfor %}
        </tbody>
      </table>
    </table>
    

<table class="table">

</table>

{% block javascript %}
<script type="text/javascript">
  document.addEventListener('DOMContentLoaded', function () {
    const nucleoSelect = document.querySelector('select[name="nucleo"]');
    const downloadButton = document.querySelector('#descargar-reporte-btn');

    function downloadReport() {
      const nucleoValue = nucleoSelect.value;
      const downloadUrl = `{% url 'descargar_reporte_instrumentos' %}?nucleo=${nucleoValue}`;
      window.location.href = downloadUrl;
    }

    function fetchFilteredData() {
      const searchInput = document.querySelector('input[name="q"]');
      const queryString = `q=${searchInput.value}&nucleo=${nucleoSelect.value}`;

      fetch(`{% url 'lista_instrumentos' %}?${queryString}`)
        .then(response => response.text())
        .then(html => {
          const newBody = new DOMParser().parseFromString(html, 'text/html').body;
          document.querySelector('table').innerHTML = newBody.querySelector('table').innerHTML;
        });
    }

    nucleoSelect.addEventListener('change', function () {
      fetchFilteredData();
      
    });

    document.querySelector('input[name="q"]').addEventListener('keyup', function () {
      fetchFilteredData();
    });

    downloadButton.addEventListener('click', function (event) {
      event.preventDefault();
      downloadReport();
    });
  });
</script>
{% endblock %}


{% endblock %}